.cursor {
  border: 1.5px solid gray;
  background-color: transparent;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 10ms;
  backdrop-filter: blur(1px);
  pointer-events: none;
  z-index: 100;
}
