.cursor {
  border: 1.5px solid gray;
  background-color: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 10ms;

  pointer-events: none;
  z-index: 200;
  mix-blend-mode: exclusion;
}
