.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.2) 75%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("../public/images/homeBackground.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    .section1Wapper {
      display: flex;
      max-width: 1400px;
      width: 100%;
      padding: 30px 40px;
      gap: 80px;
      justify-content: space-between;
      height: auto;
      margin-bottom: 32px;
      .intro {
        font-size: 48px;
        margin: 0;
        max-width: 660px;
        min-width: 400px;
        flex: 1.3 0 0px;
        font-weight: 400;
        span {
          font-style: italic;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 660px;

        span {
          font-size: 25px;
          color: rgb(187, 187, 187);
        }

        .contacts {
          display: flex;
          gap: 15px;

          button {
            white-space: nowrap;
            font-size: 20px;
            color: black;
            cursor: pointer;
            border: none;
            background-color: transparent;
          }
        }
      }
    }
  }

  .section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    gap: 26px;
  }

  .linkBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 96px;
  }
}

@media (max-width: 1200px) {
  .container {
    .section {
      .section1 {
        .section1Wapper {
          .intro {
            min-width: 375px;
            font-size: 36px;
          }

          .description {
            min-width: 300px;

            span {
              font-size: 20px;
            }

            button {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
  .linkBox {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .container {
    .section {
      .section1 {
        .section1Wapper {
          padding: 20px;

          flex-direction: column;
          gap: 30px;

          .intro {
            min-width: 0;
            width: 100%;
            font-size: 30px;
          }

          .description {
            min-width: 0;
            gap: 20px;
            width: 100%;
            gap: 10px;
            position: relative;

            button {
              font-size: 12px;
            }
          }
        }
      }

      .section2 {
        justify-content: center;
      }
    }
    .linkBox {
      max-width: 500px;
      width: 90%;
      justify-content: center;
    }
  }
}
